<div class="contact-card">
  <img src="assets/happy-car.png" alt="Logo Happy Car" class="logo-image"> 
  <hr class="separator">

  <img src="assets/contact-image.png" alt="Foto del Emprendedor" class="profile-image">
  <h2>Nombre Apellido</h2>
  <p>Alias_Emprendedor</p>
  <p>Emprendedor en seguros</p>
  <button class="btn btn-primary" (click)="openDialog()">Cotiza el Seguro de tu Auto</button>
  <div class="info-section">
    <h5>Orientación</h5>
    <p>Te ayudaré a encontrar en la Plataforma Digital Happy Car cuál es el seguro de auto y cobertura que se adapta mejor a tus posibilidades y necesidades.</p>
  </div>
  <div class="info-section">
    <h5>Cotización, Comparación y Emisión en Happy Car</h5>
    <p>Te acompañaré en tu proceso de cotización, comparación y emisión a fin de que adquieras tu póliza con total confianza.</p>
  </div>
  <div class="info-section">
    <h5>Información</h5>
    <p>Te proporcionaré información sobre los precios de seguros, para que elijas la opción que se adecúe a tus necesidades.</p>
  </div>
  <div class="info-section">
    <h5>Contacto</h5>
    <p>Seré tu contacto con nuestra Oficina Tecnológica para que tengas el apoyo y asesoría en todo momento.</p>
  </div>
</div>
