<div class="footer">
  <img src="../../../assets/happy-car.png" alt="Happy Car Logo">
    <p>Cotización, Comparación y Emisión en Happy Car: Te acompañaré en el proceso de cotización, comparación y emisión de tu póliza de seguro de auto.</p>
    <p>Información: Será tu contacto de confianza para cualquier duda, aclaración o apoyo que requieras con tu póliza de seguro.</p>
    <p>Contacto: 55 5555 5555</p>
    <p>Aviso de Privacidad</p>
    <p>Emprendedores en Seguros</p>
    <p>Maparazgo No. 37, Col. Xoco Cdmx. C.P. 03330</p>
  </div>
  